@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 15px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #222222;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #666666;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #777777;
  }
}
